
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;  /* border: 1px solid black; */
	font-size: 100%;
	text-align: right;
    font-family: Arial;
	z-index:10;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of reset tool */
canvas
{
    position: absolute;
    left: 1480px;
    top: 26px;
    border: 1px solid #000000;
    border-radius: 10px;
    z-index: -1;
}
img
{
display: block;
}
table.instrument1
{
position:absolute;
left:26px;
top:60px;/* top:25px; */
}
div.instrumentimg1
{
position:absolute;
left:26px;
top:60px;/* top:25px; */
z-index:-1;
}
table.instrument2
{
position:absolute;
left:920px;
top:60px;/* top:25px; */
}
div.instrumentimg2
{
position:absolute;
left:920px;
top:60px;/* top:25px; */
z-index:-1;
}
table.instrument3
{
position:absolute;
left:26px;
top:650px; /*502*/
}
div.instrumentimg3
{
position:absolute;
left:26px;
top:650px; /*502*/
z-index:-1;
}
table.treble1
{
position:absolute;
left:1800px;
top:76px;
}
table.treble2
{
position:absolute;
left:1828px;
top:60px;
}
table.treble3
{
position:absolute;
left:1856px;
top:65px;
}
table.treble4
{
position:absolute;
left:1886px;
top:81px;
}
table.bass1
{
position:absolute;
left:1800px;
top:517px;
}
table.bass2
{
position:absolute;
left:1828px;
top:532px;
}
table.bass3
{
position:absolute;
left:1856px;
top:508px;
}
table.bass4
{
position:absolute;
left:1886px;
top:555px;
}
table.instrument1Chooser
{
position:absolute;
left:90px;
top:10px; 
z-index: 100;
}
table.instrument2Chooser
{
position:absolute;
left:990px;
top:10px; 
z-index: 100;
}
table.instrument3Chooser
{
position:absolute;
left:520px;
top:600px; /* top:473px; */
z-index: 100;
}
table.scaleChooser
{
position:absolute;
left:300px;
top:530px; /* top:473px; */
z-index: 100;
}
td
{
	position: relative;
}
td.outline {
	border: 3px solid black;
	border-style: ridge;
	
}
.cell-text {
	position: absolute; /* Position text absolutely within the cell */
	bottom: 50%; /* Position at middle */
	left: 50%; /* Position horizontally at the center */
	transform: translateX(-50%); /* Adjust for the text's own width */
	text-align: center; /* Center the text horizontally */
	width: 100%; /* Ensure the text spans the entire cell width */
	z-index: -1;
  }
td img
{
	position: relative;
	top: 0;
	left: 0;
	z-index: 0;
}
td img.noteName
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
body
{
background-image:url('bg80.png');
background-repeat:no-repeat;
background-position:left top;
}